/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-header {
    width: 85%;
    margin: 0 auto;
}

.container-main {
    width: 65%;
    margin: 0 auto;
}

/* UTILITIES */

.border-lightgrey {
    border: 1px solid lightgrey;
}

.borderbot-lightgrey {
    border-bottom: 1px solid lightgrey;
}

.posrel {
    position: relative;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
}

.btn-blue {
    background-color: #0061FF;
}

.btn-white {
    border: 1px solid black;
}

.btn-wide {
    width: 100%;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-grey {
    color: grey;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inlinebl {
    display: inline-block;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fs-30 {
    font-size: 30px;
}
.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fw-normal {
    font-weight: normal;
}

.padding-40 {
    padding: 40px;
}

.marginb-40 {
    margin-bottom: 40px;
}

.marginb-30 {
    margin-bottom: 30px;
}

.marginb-20 {
    margin-bottom: 20px;
}

.marginb-10 {
    margin-bottom: 10px;
}
/* HEADER */

.header-nav {
    height: 100px;
    position: fixed;
    line-height: 100px;
    background-color: white;
    width: 100%;
}

.col-nav ul, .col-nav li {
    display: inline-block;
}

.col-nav {
    width: 50%;
}

.header-nav .first-col > ul > li {
    margin-left: 40px;
    cursor: pointer;
}

.header-nav .second-col > ul > li {
    margin-right: 40px;
    cursor: pointer;
}

.col-nav > ul > li:hover {
    border-bottom: 2px solid black;
}

/* HEADER JUMBO */

.header-main {
    height: 900px;
    background-color: #B4D0E7;
    padding-top: 200px;
}

.header-main .container-header > h1 {
    font-size: 85px;
}

.jumbotron {
    margin-top: 50px;
}

.jumbotron .first-col {
    width: 35%;
    margin-right: 60px;
}

.jumbotron .second-col {
    width: calc(65% - 60px);
}

.jumbotron .second-col img {
    max-width: 100%;
    height: 500px;
}

.jumbotron .first-col p[class="fs-20"] {
    margin-bottom: 40px;
}

.jumbotron .first-col p[class="fs-18"] {
    margin: 20px 0 30px 0;
}

.jumbotron .first-col i {
    font-size: 45px;
}

/* MAIN */

/* COLUMN SECTION */

#tariffes > div > h1[class="tariffes-title"] {
    font-size: 45px;
    margin: 250px 0 40px 0;
}

.rate-distribution .rate-check {
    color: #0061FF;
    margin-right: 5px;
}
.rate-distribution .rate-uncheck {
    margin-right: 5px;
}

.rate-distribution .month-rate {
    margin-right: 20px;
}

.tariff-col {
    margin-top: 30px;
    width: calc(100% / 3 - 40px);
    height: 1200px;
}

.tariff-col-center {
    margin: 30px 60px;
}

#tariffes .tariff-pool {
    height: 50px;
    line-height: 50px;

}

#tariffes .tariff-pool i {
    margin-right: 5px;
}

.tariff-col .tariff-details hr {
    width: 20%;
}

.tariff-details .fa-check {
    color: #0061FF;
}

/*<h3 class="marginb-30 fw-normal fs-18"><i class="fas fa-check"></i> Invia file fino a 100 GB con Dropbox Transfert</h3>
<h3 class="marginb-30 fw-normal fs-18"><i class="fas fa-check"></i> Cartelle offline su dispositivi mobili</h3>
<h3 class="marginb-30 fw-normal fs-18"><i class="fas fa-check"></i> Pulizia remota dell'account</h3>
<h3 class="marginb-30 fw-normal fs-18"><i class="fas fa-check"></i> Filigrana documento</h3>
<h3 class="marginb-30 fw-normal fs-18"><i class="fas fa-check"></i> Assistenza prioritaria via email e chat</h3>*/

