/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-header {
    width: 85%;
    margin: 0 auto;
}

.container-main {
    width: 65%;
    margin: 0 auto;
}

.container-footer {
    width: 83%;
    margin: 0 auto;
    padding-top: 100px;
    
}

/* UTILITIES */
.color-grey-footer {
    color: #999999;
}
.color-bordeaux {
    color: #61082B;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-grey {
    color: grey;
}


.bgc-black {
    background-color: black;
}
.bgc-lightblue {
    background-color: #B4D0E7;
}

.bgc-greenmatcha {
    background-color: #A2D39B;
}

.bgc-bordeaux {
    background-color: #61082B;
}

.bgc-darklightblue {
    background-color: #0093CE;
}

.bgc-vibrantred {
    background-color: #FF1C1C;
}

.bgc-red {
    background-color: #D5001F;
}

.bgc-blue {
    background-color: #0D2481;
}

.bgc-yellow {
    background-color: #FFD830;
}

.bgc-nearlywhite {
    background-color: #F5F5F5;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}
.w-65 {
    width: 65%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.border-lightgrey {
    border: 1px solid lightgrey;
}

.borderbot-lightgrey {
    border-bottom: 1px solid lightgrey;
}

.posrel {
    position: relative;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
}

.btn-blue {
    background-color: #0061FF;
    transition: filter .5s;
}

.btn-blue:hover {
    filter: brightness(1.8);
}

.btn-white {
    border: 1px solid black;
}

.btn-wide {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inlinebl {
    display: inline-block;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fs-48 {
    font-size: 48px;
}

.fs-35 {
    font-size: 35px;
}

.fs-30 {
    font-size: 30px;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.fw-normal {
    font-weight: normal;
}

.font-style-normal {
    font-style: normal;
}

.padding-40 {
    padding: 40px;
}

.padding-20 {
    padding: 20px;
}

.marginb-200 {
    margin-bottom: 200px;
}

.marginb-80 {
    margin-bottom: 80px;
}

.marginb-60 {
    margin-bottom: 60px;
}

.marginb-40 {
    margin-bottom: 40px;
}

.marginb-30 {
    margin-bottom: 30px;
}

.marginb-20 {
    margin-bottom: 20px;
}

.marginb-10 {
    margin-bottom: 10px;
}

.li-style-none {
    list-style: none;
} 
/* HEADER */

header .header-nav {
    height: 100px;
    position: fixed;
    line-height: 100px;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.col-nav ul, .col-nav li {
    display: inline-block;
}

.col-nav {
    width: 50%;
}

.header-nav .first-col > ul > li {
    margin-left: 40px;
    cursor: pointer;
}

.header-nav .second-col > ul > li {
    margin-right: 40px;
    cursor: pointer;
}

.col-nav > ul > li:hover {
    border-bottom: 2px solid black;
}

/* HEADER JUMBO */

.header-main {
    height: 900px;
    padding-top: 200px;
}

.header-main .container-header > h2 {
    font-size: 85px;
}

.jumbotron {
    margin-top: 50px;
}

.jumbotron .first-col {
    width: 35%;
    margin-right: 60px;
}

.jumbotron .second-col {
    width: calc(65% - 60px);
}

.jumbotron .second-col img {
    max-width: 100%;
    height: 500px;
}

.jumbotron .first-col p[class="fs-18"] {
    margin: 20px 0 30px 0;
}

/* MAIN */

/* COLUMN SECTION */

.rate-distribution .rate-check {
    color: #0061FF;
    margin-right: 5px;
}
.rate-distribution .rate-uncheck {
    margin-right: 5px;
}

.rate-distribution .month-rate {
    margin-right: 20px;
}

.tariff-col {
    margin-top: 30px;
    width: calc(100% / 3 - 40px);
    height: 1200px;
}

.tariff-col-center {
    margin: 30px 60px;
}

#tariffes .tariff-pool, .under-offers > h3 {
    height: 50px;
    line-height: 50px;
}

#tariffes .tariff-pool i {
    margin-right: 5px;
}

.tariff-details .fa-check {
    color: #0061FF;
}

.tariff-details > i {
    margin: 5px 10px 0 0;
}

/* UNDER COLUMN */

.under-offers .clearfix {
    padding: 40px 40px 0 40px;
}

.under-offers .under-offers-details {
    padding: 20px 40px 0 40px;
}

/* PARTNER FIND */

/* CARDS */

.card {
    width: calc(100% / 3);
}

/* PARTNER CARDS */

.cube {
    height: 279.59px;
    border: 10px solid transparent;
    transition: border-color .5s;
}

.cube:hover {
    border-color: rgba(255, 255, 255, 0.4);
}

.cube > img {
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partner-card .card-center {
    height: 559.16px;
}

.partners > .bgc-lightblue {
    height: 400px;
}

section .bgc-lightblue > .clearfix > .fl-left {
    height: 400px;
}

section .bgc-lightblue .fl-left h2, section .bgc-lightblue .fl-left a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* FAQ */

.faq > div {
    line-height: 100px;
}

/* FOOTER */

footer .color-grey-footer hr {
    border-color: #999999;
}

footer .footer-language {
    padding: 80px 0 40px 0;
}