/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-header {
    width: 80%;
    margin: 0 auto;
}

.container-main {
    width: 60%;
    margin: 0 auto;
}

/* UTILITIES */
/* HEADER */
/* MAIN */